name: Build and Create Installer

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1

    - name: Build Release Version
      run: msbuild BrightnessApp.sln /p:Configuration=Release /p:Platform="Any CPU" /p:TargetFrameworkVersion=v4.8

    - name: Download Inno Setup
      run: |
        $innosetupUrl = "https://files.jrsoftware.org/is/6/innosetup-6.2.2.exe"
        $installerPath = "innosetup.exe"
        Invoke-WebRequest -Uri $innosetupUrl -OutFile $installerPath
        
    - name: Install Inno Setup
      run: |
        .\innosetup.exe /VERYSILENT /SUPPRESSMSGBOXES /NORESTART /SP-

    - name: Create Installer
      run: |
        "C:\Program Files (x86)\Inno Setup 6\ISCC.exe" setup.iss

    - name: Upload Installer Artifact
      uses: actions/upload-artifact@v4
      with:
        name: BrightnessApp-Installer
        path: Output\BrightnessApp_Setup.exe